.info {
	font-size: large;
	position: absolute;
	width: 100%;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #BBBBBB;
	text-align: center;
	top: 0;
	left: 0;
	opacity: 0.7;
	display: table;
}
#footer {
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	color:#FFFFFF ;
	background-color: #00BB00;
}